<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.iseason.heping">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/heping_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/heping_icon___round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HePing">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HePing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="top.iseason.heping.manager.AppService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>